services:
  db:
    image: postgres:16.4
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=medbookings_dev
    ports:
      - "5433:5432"
    volumes:
      - ./docker_data/db:/var/lib/postgresql/data
